<template>
  <div class="bg-login flex justify-center items-center">
    <q-card class="flex">
      <q-card-media class="bg-aside"></q-card-media>
      <q-card-main class="body-card">
        <h4 class="text-weight-medium login-title-h4">Bienvenido</h4>
        <form @submit.prevent="submit">
          <q-field icon="person_outline" icon-color=" #85D524" helper>
            <q-input
              v-model="form.nickname"
              @blur="$v.form.nickname.$touch"
              type="text"
              float-label="Usuario"
            />
          </q-field>
          <q-field icon="lock">
            <q-input
              v-model="form.password"
              @keyup.enter="submit"
              type="password"
              float-label="Contraseña"
            />
          </q-field>
          <div class="alert-add">
            <q-alert
              align="center"
              color="warning"
              text-color="white"
              class="alert-custom"
              v-if="visibleAlertF"
            >{{messageF}}</q-alert>
          </div>
          <div class="foot-btn">
            <q-btn type="submit" style="background: #3D7D38; color: white" label="Ingresar"/>

            <div class="align-footer">
              <p
                class="cursor-pointer link-login"
                @click="$router.push({name:'forgetPassword'})"
              >¿Olvidaste tu contraseña?</p>
            </div>
          </div>
        </form>
        <div class="img-foot">
          <img class="red-img-foot" src="~assets/logoFoot.png">
        </div>
      </q-card-main>
    </q-card>
  </div>
</template>
<script>
import axios from "axios";
import { axiosInstance } from 'plugins/axios'

import { required, maxLength, alphaNum, email } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      form: {
        nickname: "",
        password: ""
      },
      visibleAlertF: false,
      messageF: ""
    };
  },
  validations: {
    form: {
      nickname: {
        required /* ,
      maxLength: maxLength(18) */
      },
      password: {
        required,
        /*   maxLength: maxLength(16), */
        alphaNum
      }
    }
  },
  methods: {
    submit() {
      
      this.$v.form.$touch();
      if (this.$v.form.$error) {
        this.$q.notify("Nickname o contraseña incorrectos");
        return
      } else {
        this.$axios.post("login", {
            nickname: this.form.nickname,
            password: this.form.password
          })
          .catch(err => console.log(err))
          .then(user => {
            if (user.data.token) {
             
              localStorage.setItem("user", JSON.stringify(user.data.token));
              this.$router.push("/dashboard");
            } else if (user.data.success === false) {
              console.log(user.data.message);
              this.messageF = user.data.message;
              this.visibleAlertF = true;
            }
          });
      }
    }
  }
};
</script>

<style scoped>
.bg-login {
  background-image: url("~assets/bgImage.png");
  height: 100vh;
  background-size: cover;
}

.img-card {
  width: 21.5rem !important;
}

.body-card {
  background-color: #edf1ea;
  width: 22rem;
}

.login-title-h4 {
  color: #0a09098f;
  margin: 1rem;
}
.foot-btn {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.img-foot {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alert-add {
  margin: 1.5rem 0rem;
}
.bg-aside {
  width: 22rem;
  background-image: url("~assets/bgCard.png");
  background-position: center;
  background-size: cover;
}
.text-primary {
  color: #3d7d38 !important;
}

.link-login {
color: #3d7d38!important;
}
.link-login:hover {
color: #78be73 !important;
}
.red-img-foot{
  height: 5rem;
  width: 5rem;
}
</style>


