<template>
  <q-page class="flex column items-center">
    <section>
      <h3 class="text-title">Maestros - Productos</h3>
    </section>
    <section>
      <q-table
        ref="table"
        :data="serverData"
        :columns="columns"
        :filter="filter"
        selection="multiple"
        :selected.sync="selected"
        :pagination.sync="paginationControl"
        :loading="loading"
        :separator="separator"
        row-key="name"
        color="secondary"
      >
       <q-btn @click="pagination.page++" label="Next page" ... />
        <template slot="top-left" slot-scope="props">
          <q-search hide-underline v-model="filter"/>
        </template>
      </q-table>
    </section>
  </q-page>
</template>
<script>
import axios from "axios";

export default {
  name: "PageMasterUsers",
  data: () => ({
    loading: false,
    selection: "multiple",
    paginationControl: {
      page: 1,
      sortBy: "name",
      descending: false,
      rowsPerPage: 2
    },
    selected: [
      // initial selection
    ],
    visibleColumns: [
      "desc",
      "fat",
      "carbs",
      "protein",
      "sodium",
      "calcium",
      "iron"
    ],
    separator: "horizontal",
    filter: "",
    columns: [
      {
        name: "nickname",
        required: true,
        label: "Nickname",
        align: "center",
        field: "nickname",
        sortable: true
      },
      {
        name: "firstname",
        required: true,
        label: "Nombre",
        align: "center",
        field: "firstname",
        sortable: true
      },
      {
        name: "lastname",
        required: true,
        label: "Apellidos",
        align: "center",
        field: "lastname",
        sortable: true
      },
      {
        name: "email",
        required: true,
        label: "Correo",
        align: "center",
        field: "email",
        sortable: true
      },
       {
        name: "role",
        required: true,
        label: "Rol",
        align: "center",
        field: "rol",
        sortable: true
      },
      {
        name: "createDates",
        required: true,
        label: "Fecha de Creación",
        align: "center",
        field: "creator_date",
        sortable: true
      },
      {
        name: "state",
        required: true,
        label: "Estado",
        align: "center",
        field: "state",
        sortable: true
      }
    ],
    serverData: []
  }),

  methods: {},
  mounted() {
    this.loading = true;

    axios({
      method:'get',
      url:'http://192.168.1.223:8080/api/user',
      headers:{
        'Authorization': `Bearer ${localStorage.getItem('user')}`
      }
    })
    .then(response => {
      console.log(response.data);
      this.serverData = response.data;

    });
    this.loading = false;
  }
};
</script>
<style>
.text-title {
  color: var(--text-title);
}
</style>
