<template>
  <q-page class="flex column items-center">
    <section>
      <h3 class="text-title">Maestros - Usuarios</h3>
    </section>
    <section>
      <q-table
        :data="tableData"
        :columns="columns"
        :filter="filter"
        :selection="selection"
        :selected.sync="selected"
        :visible-columns="visibleColumns"
        :separator="separator"
        row-key="name"
        color="secondary"
        table-class="table-products"
      >
     <!--    slot name syntax: body-cell-<column_name>
       <q-td slot="body-cell-estado" slot-scope="props" :props="props">
        <q-toggle small color="secondary" v-model="estado"/>
       </q-td>  -->

        <template slot="top-left" slot-scope="props">
          <q-search hide-underline color="secondary" v-model="filter" class="col-6"/>
        </template>
        <template slot="top-right" slot-scope="props">
          <q-table-columns
            color="secondary"
            class="q-mr-sm"
            v-model="visibleColumns"
            :columns="columns"
          />
          <q-select
            color="secondary"
            v-model="separator"
            :options="[
            { label: 'Horizontal', value: 'horizontal' },
            { label: 'Vertical', value: 'vertical' },
            { label: 'Cell', value: 'cell' },
            { label: 'None', value: 'none' }
          ]"
            hide-underline
          />
          <q-btn
            flat
            round
            dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
          />
          <q-btn
            color="primary"
            flat
            round
            size="md"
            v-for="modal in types"
            :key="modal.label"
            icon="add_circle"
            @click.native="modal.show()"
          />
        </template>
      </q-table>
    </section>
    <q-modal v-model="basicModal" :content-css="{minWidth: '50vw', maxWidth: '80vh'}">
      <q-modal-layout header-style="min-height: 50px">
        <q-toolbar slot="header" color="white" class="row reverse">
          <q-btn
            right
            class="float-rigth btn-close"
            flat
            round
            @click="basicModal = false"
            icon="close"
            color="primary"
          />
        </q-toolbar>
        <div class="layout-modal-addUser">
          <q-btn flat no-ripple icon="person_add" size="4rem" color="primary" align="center"></q-btn>
          <div class="q-display-1 q-mb-md">Agregar Usuario</div>
          <div class="row gutter-sm justify-center">
            <div class="col-6">
              <q-field helper="Helper" :label-width="3">
                <q-input align="center" v-model="txtNickname" float-label="Nickname"/>
              </q-field>
            </div>
            <div class="col-6">
              <q-field helper="Helper">
                <q-input float-label="Nombres" v-model="txtName"/>
              </q-field>
            </div>

            <div class="col-6">
              <q-field helper="Helper">
                <q-input float-label="Apellidos" v-model="txtLastName"/>
              </q-field>
            </div>

            <div class="col-6">
              <q-field helper="Helper">
                <q-input float-label="Email" v-model="txtEmail"/>
              </q-field>
            </div>

            <div class="col-6">
              <q-field helper="Helper">
                <q-select v-model="cmbRol" float-label="Rol" :options="optionsRol"/>
              </q-field>
            </div>

            <div class="col-6">
              <q-field helper="Helper">
                <q-select float-label="Supervisor Asignado" v-model="cmbAssignSupervisor" :options="listSupervisor"/>
              </q-field>
            </div>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
  </q-page>
</template>

<script>
import tableData from "assets/table-data";

export default {
  data() {
    return {
      tableData,
     /*  estado: true, */
      basicModal: false,
      txtNickname: "",
      txtName: "",
      txtLastName: "",
      txtEmail: "",
      cmbRol: "",
      optionsRol: [
        {
          label: 'Supervisor',
          value: 'sup'
        },
        {
          label: 'RTC',
          value: 'rtc'
        }
      ],
      listSupervisor:[
        {
          label: 'Nugget',
          value: 'nugget'
        },
        {
          label: 'Crispy',
          value: 'crispy'
        }
      ],
      cmbAssignSupervisor: "",
      types: [
        {
          show: () => {
            this.basicModal = true;
          }
        }
      ],
      columns: [
        {
          name: "desc",
          required: true,
          label: "Dessert (100g serving)",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "calories",
          label: "Calories",
          field: "calories",
          sorteable: "true"
        },
        {
          name: "estado",
          label: "Estado",
          field: "estado",
          sorteable: "true"
        },
        { name: "fat", label: "Fat (g)", field: "fat", sorteable: true },
        { name: "carbs", label: "Carbs (g)", field: "carbs" },
        { name: "protein", label: "Protein (g)", field: "protein" },
        { name: "sodium", label: "Sodium (g)", field: "sodium" },
        {
          name: "calcium",
          label: "Calcium (%)",
          field: "calcium",
          sorteable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "iron",
          label: "Iron (%)",
          field: "iron",
          sorteable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ],
      filter: "",
      visibleColumns: ["desc", "fat", "carbs", "protein", ""],
      separator: "horizontal",
      selection: "multiple",
      selected: [],
      pagination: {
        page: 2
      },
      paginationControl: { rowsPerPage: 3, page: 1 },
      loading: false
    };
  },
  watch: {
    "paginationControl.page"(page) {
      this.$q.notify({
        color: "secondary",
        message: `Estas volando a la pagina ${page}`,
        actions:
          page < 4
            ? [
                {
                  label: "Vas a la ultima pagina",
                  handler: () => {
                    this.paginationControl.page = 4;
                  }
                }
              ]
            : null
      });
    }
  },
  methods: {}
};
</script>

<style>
.text-title {
  color: var(--text-title);
}


.layout-modal-addUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px 30px 30px;
}
</style>