<template>
  <q-page padding class="docs-table">
    <p class="caption">Pagination, sorting & filtering happens on the server</p>
    <q-table
      ref="table"
      color="primary"
      title="Server-side Pagination"
      :data="serverData"
      :columns="columns"
      :filter="filter"
      selection="multiple"
      :selected.sync="selected"
      row-key="name"
      :pagination.sync="serverPagination"
      @request="request"
      :loading="loading"
    >
      <q-tr slot="body" slot-scope="props" :props="props">
        <q-td>
            <q-checkbox color="primary" />
          </q-td>
        <q-td key="desc" :props="props" v-model="nameP">
          {{ props.row.name }}
          <q-popup-edit v-model="props.row.name">
            <q-field count>
              <q-input v-model="props.row.name"/>
            </q-field>
          </q-popup-edit>
        </q-td>
        <q-td key="calories" :props="props">
          {{ props.row.calories }}
          <q-popup-edit v-model="props.row.calories" title="Update calories" buttons>
            <q-input type="number" v-model="props.row.calories"/>
          </q-popup-edit>
        </q-td>
        <q-td key="fat" :props="props">{{ props.row.fat }}</q-td>
        <q-td key="carbs" :props="props">{{ props.row.carbs }}</q-td>
        <q-td key="protein" :props="props">{{ props.row.protein }}</q-td>
        <q-td key="sodium" :props="props">{{ props.row.sodium }}</q-td>
        <q-td key="calcium" :props="props">{{ props.row.calcium }}</q-td>
        <q-td key="iron" :props="props">{{ props.row.iron }}</q-td>
       
       <q-td key="made" >{{ nameReverse() }}</q-td>
      </q-tr>

      <template slot="top-right" slot-scope="props">
        <q-search hide-underline v-model="filter"/>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import tableData from "assets/table-data";
export default {
  data() {
    return {
      serverData: [],
      serverPagination: {
        page: 1,
        rowsNumber: 10 // specifying this determines pagination is server-side
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Dessert (100g serving)",
          align: "left",
          field: "name",
          sortable: true
        },
        {
          name: "calories",
          label: "Calories",
          field: "calories",
          sortable: true
        },
        { name: "fat", label: "Fat (g)", field: "fat", sortable: true },
        { name: "carbs", label: "Carbs (g)", field: "carbs" },
        { name: "protein", label: "Protein (g)", field: "protein" },
        { name: "sodium", label: "Sodium (mg)", field: "sodium" },
        {
          name: "calcium",
          label: "Calcium (%)",
          field: "calcium",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "iron",
          label: "Iron (%)",
          field: "iron",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "made",
          label: "made",
          field: "made",
          sortable: true
        }
      ],
      filter: "",
      selected: [
        // initial selection
        { name: "Ice cream sandwich" }
      ],
      loading: false,
      nameP:''
    };
  },
  methods: {
    request(props) {
      this.loading = true;
      setTimeout(() => {
        this.serverPagination = props.pagination;
        let table = this.$refs.table;
        let rows = tableData.slice();
        console.log(rows);
         let { page, rowsPerPage, sortBy, descending } = props.pagination;
        if (props.filter) {
          rows = table.filterMethod(rows, props.filter);
        }
        if (sortBy) {
          rows = table.sortMethod(rows, sortBy, descending);
        }
        this.serverPagination.rowsNumber = rows.length;
        if (rowsPerPage) {
          rows = rows.slice((page - 1) * rowsPerPage, page * rowsPerPage);
        }
       
        this.serverData = rows;
        this.loading = false; 
        
      }, 1500);

    },
    nameReverse (props){
    return (props.row.name, console.log(props.row.name))
    }

   
  },
 
   
  mounted() {
    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>