<template>
  <q-page padding class="flex column items-center">
    <div>
      <h3>Maestros - Usuarios</h3>
    </div>
    <div>
        <q-table :data="tableData"
        :filter="filter"
        :columns="columns"
        :selection="selection"
        :selected.sync="selected"
        row-key="name">
            <q-tr slot="body" slot-scope="props" :props="props">
              <q-td>
                <q-checkbox color="primary" v-model="props.selected" />
              </q-td>
                <q-td key="desc" :props="props">
                    <span class="text-italic">{{props.row.name}}</span>
                </q-td>
                <q-td key="calories" :props="props">
                    ✍
                </q-td>
                 <q-td key="estado" :props="props">
                    <div class="row items-center justify-between no-wrap">
                       <q-toggle v-model="props.row.estado" />
                    </div>
                 </q-td>
                <q-td key="fat" :props="props">{{props.row.fat}}</q-td>
                <q-td key="carbs" :props="props">
                    {{props.row.carbs}}
                </q-td>
                <q-td key="protein" :props="props">{{props.row.protein}}</q-td>
                <q-td key="sodium" :props="props">{{props.row.sodium}}</q-td>
                <q-td key="calcium" :props="props">{{props.row.calcium}}</q-td>
                <q-td key="iron" :props="props">
                    {{props.row.iron}}
                </q-td>
            </q-tr>
            <template slot="top-left" slot-scope="props">
              <q-search hide-underline color="secondary" v-model="filter" class="col-6"/>
            </template>
        </q-table>
    </div>
  </q-page>
</template>
<script>
import tableData from "assets/table-data";
export default {
    data() {
        return {
          tableData,
          filter: "",
          selection: 'multiple',
          selected: [],
          columns:[
              {
                  name:'desc',
                  required:true,
                  label:'Pastel',
                  align:'center',
                  field:'name',
                  sorteable: true
              },
              {name:'calories', label:'Calorias', field:'calories', sortable:true},
              {name:'estado', label:'Estado', field:'estado'},
              {name:'fat', label:'Fat', field:'fat', sortable:true},
              {name:'carbs', label:'Carbs', field:'carbs', sortable:true},
              {name:'protein', label:'Protein', field:'protein'},
              {name:'sodium', label:'Sodium', field:'sodium'},
              {name:'calcium', label:'Calcium', field:'calcium', sortable:true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)},
              {name:'iron', label:'Iron', field:'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)}
          ]
          }
      
    }
};
</script>
