<template>
  <div class="bg-login-ap flex justify-center items-center">
    <div class="row">
      <failed v-if="failedToken"></failed>
    </div>
    <div v-if="!failedToken">
      <q-card class="body-card-ap">
        <q-card-main class="body-card-ap">
          <h4 class="text-weight-regular">Asignación de nueva contraseña</h4>
          <form @submit.prevent="assignPassword" v-if="!assignGoal">
            <q-field>
              <q-input v-model="form.password" 
               @blur="$v.form.password.$touch"
              type="password" 
              float-label="Nueva contraseña"/>
            </q-field>
            <q-field>
              <q-input
                v-model="form.repeatPassword"
                @blur="$v.form.repeatPassword.$touch"
                type="password"
                float-label="Repite nueva contraseña" 
              />
            </q-field>
            <div class="foot-btn">
              <q-btn
                type="submit"
                style="background: #3D7D38; color: white; margin: 1.5rem 4.5rem"
                label="Guardar"
              />
            </div>
          </form>
          <div v-if="assignGoal">
            <p>{{messageGoal}}</p>
            <div class="align-footer">
              <p
                class="text-primary cursor-pointer link-login"
                @click="$router.push('/')"
              >Regresar al login</p>
            </div>
          </div>
        </q-card-main>
      </q-card>
    </div>
  </div>
</template>
<script>
import { axiosInstance } from 'plugins/axios'
import { required, sameAs } from "vuelidate/lib/validators";
import failed from "../../components/failed.vue";
export default {
  components: {
    failed
  },
  data() {
    return {
      form:{
        password: "",
        repeatPassword: "",
      },
      token: "",
      failedToken: false,
      assignGoal:false,
      messageGoal:""
    };
  },
  validations:{
    form:{
      password:{
        required
      },
      repeatPassword:{
        sameAsPassword: sameAs('password')
      }
    }
  },
  created() {
    console.log(this.$route.query.token);
    this.token = this.$route.query.token;
  },
  mounted() {
    this.token = this.$route.query.token;
    this.$axios.post("tokenverifybefore", {
        token: this.token
      })
      .catch(err => console.log(err))
      .then(response => {
        if (response.data.success === false) {
          this.failedToken = true;
        } else {
          console.log(response);
          console.log(this.token);
        }
      });
  },
  methods: {
    assignPassword() {
      this.$axios.post("assignnewpassword", {
          token: this.token,
          password: this.form.password
        })
        .catch(err => console.log(err))
        .then(response => {
          this.assignGoal = true;
          this.messageGoal = response.data.message
          console.log(response);

        });
    }
  }
};
</script>
<style scoped>
.bg-login-ap {
  background-image: url("~assets/bgImage.png");
  height: 100vh;
  background-size: cover;
}
.body-card-ap {
  background-color: #fdfdfd;
}
h4 {
  color: var(--login-title);
  margin: 1rem;
}
.foot-btn {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-foot {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text-primary {
  color: #3d7d38 !important;
}
.link-login {
color: #3d7d38!important;
}
.link-login:hover {
color: #78be73!important;
}
</style>
