<template>
  <div class="bg-login-fp flex justify-center items-center">
    <q-card class="body-card-fp">
      <div class="title-card-fp">
        <q-item>
          <img src="~assets/logoMini.png">
        </q-item>
      </div>
      <q-card-main class="body-card-fp">
        <h4 class="text-weight-regular">Recuperación de la contraseña</h4>
        <p>Escribe el correo electronico asociado para reestablecer tu contraseña</p>
        <form @submit.prevent="sendEmail">
          <q-field>
            <q-input
              @blur="$v.form.email.$touch"
              v-model="form.email"
              type="text"
              float-label="Escribe el correo electronico"
            />
          </q-field>
          <div class="alert-add">
            <q-alert
              color="light-green-3"
              text-color="light-green-10"
              class="alert-custom"
              v-if="visibleAlertS"
            >{{messageS}}</q-alert>
            <q-alert
              color="red-3"
              text-color="red-10"
              class="alert-custom"
              v-if="visibleAlertF"
            >{{messageF}}</q-alert>
          </div>
          <div class="title-card-fp">
            <q-btn
              type="submit"
              style="background: #3D7D38; color: white; margin: 1.5rem 4.5rem"
              label="Enviar"
              :disable="disableBtn"
            />
            <p class="text-primary cursor-pointer link-login" @click="$router.push('/')">Regresar al login</p>
          </div>
        </form>
      </q-card-main>
    </q-card>
  </div>
</template>
<script>
import { axiosInstance } from 'plugins/axios'
import { required, email } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      form: {
        email: ""
      },
      responseServer: "",
      visibleAlertS: false,
      visibleAlertF: false,
      messageS: "",
      disableBtn: false,
      messageF: ""
    };
  },
  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },
  methods: {
    show() {
      this.$q.loading.show();
    },
    sendEmail() {
      this.$v.form.$touch();
      if (this.$v.form.$error) {
        this.$q.notify("Email incorrecto");
        return;
      } else {
        this.show();
        this.$axios.post("accountrecovery", {
            email: this.form.email
          })
          .catch(err => console.log(err))

          .then(response => {
            if (response.data.success === false) {
              console.log(response.data.message);
              this.messageF = response.data.message;
              this.$q.loading.hide();
              this.visibleAlertF = true;
              setTimeout(() => {
                this.disableBtn = true;
              }, 3000);
            } else {
              console.log(response.data.message);
              this.messageS = response.data.message;
              this.$q.loading.hide();
              this.visibleAlertS = true;
              setTimeout(() => {
                this.disableBtn = true;
              }, 3000);
            }
          });
      }
    }
  }
};
</script>

<style scoped>
.bg-login-fp {
  background-image: url("~assets/bgImage.png");
  height: 100vh;
  background-size: cover;
}

.body-card-fp {
  background-color: #ffffff;
  font-size: 1rem;
}

h4 {
  color: var(--login-title);
  margin: 1rem;
}
.title-card-fp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-add {
  margin: 2rem 0rem;
}
.text-negative {
  color: #bd0000 !important;
}
.text-primary {
  color: #3d7d38 !important;
}
.link-login {
color: #3d7d38 !important;
}
.link-login:hover {
color: #78be73 !important;
}
</style>
