<template>
<div class="window-height window-width row justify-center items-center">
    <q-card>
      <q-card-title>Login</q-card-title>
      <q-card-main>
        <form>
          <q-field>
            <q-input v-model="email" type="email" float-label="E-Mail" required></q-input>
          </q-field>

          <q-field>
            <q-input v-model="password" type="password" float-label="Password" required></q-input>
          </q-field>
        </form>
      </q-card-main>

      <q-card-separator/>

      <q-card-actions>
        <q-btn @click="login" type="submit">Login</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>


<style scoped>
.padre {
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.hijo {
  display: block;
}
.card-style{
  display: inline-block;
}
</style>