<template>
  <q-page class="flex column items-center">
    <section>
      <h3 class="text-title">Maestro - Clientes</h3>
    </section>
    <section>
      <q-table
      :loading="loading"
      class="tabla-clientes"
        :data="serverDataClients"
        :filter="filter"
        :columns="columns"
        row-key="name"
        :rows-per-page-options="rowsOptions"
        :pagination.sync="paginationControl"
      >
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="tradename" :props="props">{{props.row.tradename}}</q-td>
          <q-td key="businessname" :props="props">{{props.row.businessname}}</q-td>
          <q-td key="numdocument" :props="props">{{props.row.numdocument}}</q-td>
          <q-td key="telephone" :props="props">{{props.row.telephone}}</q-td>
          <q-td key="name_zone" :props="props">{{props.row.name_zone}}</q-td>
          <q-td key="email" :props="props">{{props.row.email}}</q-td>
        </q-tr>
        <template slot="top-left" slot-scope="props">
        <q-search
          hide-underline
          color="secondary"
          v-model="filter"
          class="col-6"
        />
      </template>
      </q-table>
    </section>
  </q-page>
</template>
<script>
import axios from "axios";
import { axiosInstance } from 'plugins/axios'
export default {
  data() {
    return {
      loading: false,
      filter: "",
      paginationControl: {
        page: 1,
        sortBy: "name",
        descending: false,
        rowsPerPage: 10
      },
      rowsOptions:[5,10,15],
      columns: [
        {
          name: "tradename",
          label: "Cliente",
          field: "tradename",
          align: "center"
        },
        {
          name: "businessname",
          label: "Nombre Comercial",
          field: "businessname",
          align: "center"
        },
        {
          name: "numdocument",
          label: "Número de documento",
          field: "numdocument",
          align: "center"
        },
        {
          name: "telephone",
          label: "Telefono",
          field: "telephone",
          align: "center"
        },
        {
          name: "name_zone",
          label: "Zona",
          field: "name_zone",
          align: "center"
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          align: "center"
        }
      ],
      serverDataClients:[]
    };
  },
  mounted(){
    this.loading = true;
    this.$axios.get("customer",{
      headers: {
        Authorization: "Bearer " + localStorage.getItem("user").slice(1, -1),
        "Content-Type": "application/x-www-form-urlencoded"
      }
    })
    .then(response =>  
    {this.loading = false
      console.log(localStorage.getItem("user")+'CLIENTES');
      this.serverDataClients = response.data
    })
    .catch(err => console.log(err));
    
  }
};
</script>
<style scoped>
.tabla-clientes {
  width: 110rem;
  right: 4.5rem;
}
</style>

