<template>
  <q-page class="flex column items-center">
    <section>
      <h3 class="text-title">Maestro - Sedes</h3>
    </section>
    <section>
      <q-table 
        table-style="{width:'104rem'; paddingeft:'-1rem'}"
        :data="serverDataSedes"
        :filter="filter"
        :loading="loading"
        :columns="columns"
        row-key="name"
        :rows-per-page-options="rowsOptions"
        :pagination.sync="paginationControl"
      >
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="sedeName" :props="props">{{props.row.sede_tradename}}</q-td>
          <q-td key="sedeStreetName" :props="props">{{props.row.sede_address}}</q-td>
          <q-td key="sedeUbigeo" :props="props">{{props.row.sede_cod_location}}</q-td>
          <q-td key="sedeDistrito" :props="props">{{props.row.sede_distrito}}</q-td>
          <q-td key="sedeNameCreate">{{props.row.sede_name}} {{props.row.sede_distrito}}</q-td>
          <q-td key="sedeAlias" :props="props">
            {{ props.row.sede_alias }}
            <q-popup-edit v-model="props.row.sede_alias" title="Ingresa un nombre" buttons>
              <q-input v-model="props.row.sede_alias"/>
            </q-popup-edit>
          </q-td>
        </q-tr>
         <template slot="top-left" slot-scope="props">
          <q-search hide-underline color="secondary" v-model="filter" class="col-6"/>
        </template>
      </q-table>
    </section>
  </q-page>
</template>

<script>
import { axiosInstance } from 'plugins/axios'

export default {
  data() {
    return { 
      loading: false,
      filter: "",
      paginationControl: {
        page: 1,
        sortBy: "sedeName",
        descending: false,
        rowsPerPage: 5
      },
      rowsOptions: [5, 10, 15],
      columns: [
        {
          name: "sedeName",
          label: "Cliente",
          field: "sede_tradename",
          sortable: true,
          align: "left"
        },
        {
         name:"sedeStreetName",
         label: "Dirección",
         field: "sede_address",
         sortable: true,
          align: "left"
        },
        {
            name:"sedeUbigeo",
            label: "Ubigeo",
            field: "sede_cod_location",
            sortable: true,
          align: "left"
            },
        {
            name:"sedeDistrito",
            label: "Distrito",
            field: "sede_distrito",
            sortable: true,
          align: "left"
            },
        {
            name:"sedeNameCreate",
            label: "Nombre de Sede",
            sortable: true,
          align: "left"
            },
        {
            name:"sedeAlias",
            label: "Alias",
            field: "sede_alias",
            sortable: true,
          align: "left"
            }
      ],
      serverDataSedes:[]
    };
  },
  mounted(){ 
    this.loading = true;
      this.$axios.get('headquarter',{
         headers: {
        Authorization: "Bearer " + localStorage.getItem("user").slice(1, -1),
        "Content-Type": "application/x-www-form-urlencoded"
      }
      })
      .then(response => { 
        this.loading = false;
       
          console.log(response.data);
          this.serverDataSedes = response.data;
      })
      .catch(
          err => console.log(err)
      )
  }
};
</script>

<style scoped>
.q-table-container {
  width: 105rem; 
  right: 3.4rem;
}
</style>
