<template>
  <q-page class="flex column items-center">
    <section>
      <h3 class="text-title">Maestros - Usuarios</h3>
    </section>
    <section>
      <q-table
        class="tabla-usuarios"
        :loading="loading"
        :data="serverData"
        :filter="filter"
        :columns="columns"
        row-key="name"
        :rows-per-page-options="rowsOptions"
        :pagination.sync="paginationControl"
      >
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="lastNames" :props="props">{{props.row.lastname}}</q-td> 
          <q-td key="names" :props="props">{{props.row.firstname}}</q-td>
          <q-td key="nickname" :props="props">{{props.row.nickname}}</q-td>
          <q-td key="typeDoc" :props="props">{{props.row.name_ide_doc}}</q-td>
          <q-td key="numDoc" :props="props">{{props.row.documentnum}}</q-td>
          <q-td key="telephone" :props="props">{{props.row.telephone}}</q-td>
          <q-td key="role" :props="props">{{props.row.rol}}</q-td>
          <q-td key="email" :props="props">{{props.row.email}}</q-td>
          <q-td key="creationDate" :props="props">{{props.row.creator_date.substr(0,10).split('-').reverse().join('-')}}</q-td>
          <q-td key="state" :props="props">{{props.row.state ? "Activo":"Inactivo"}}</q-td>
        </q-tr>
        <template slot="top-left" slot-scope="props">
          <q-search hide-underline color="secondary" v-model="filter" class="col-6"/>
        </template>
      </q-table>
    </section>
  </q-page>
</template>
<script>
import axios from 'axios'
import { axiosInstance } from 'plugins/axios'

export default {
  data() {
    return {
      loading: false,
      filter: "",
      paginationControl: {
        page: 1,
        sortBy: "name",
        descending: false,
        rowsPerPage: 15
      },
      rowsOptions:[5,10,15],
      columns: [
         {
          name: "lastNames",
          label: "Apellidos",
          field: "lastname",
          sortable: true,
          align: "left"
        },
        {
          name: "names",
          label: "Nombres",
          field: "firstname",
          sortable: true,
          align: "left"
        },
       {
          name: "nickname",
          label: "Nickname",
          field: "nickname",
          sortable: true,
          align: "left"
        },
        {
          name: "typeDoc",
          label: "Tipo de documento",
          field: "name_ide_doc",
          align: "center"
        },
        {
          name: "numDoc",
          label: "Nro de documento",
          field: "documentnum",
          align: "center"
        },
        {
          name: "telephone",
          label: "Telefono",
          field: "telephone",
          align: "center"
        },
        { 
          name: "role", 
          label: "Rol", 
          field: "rol", 
          sortable: true,
          align: "center" 
        },
        { 
          name: "email", 
          label: "Email", 
          field: "email", 
          align: "left" 
        },
        {
          name: "creationDate",
          label: "Fecha de creación",
          field: "creator_date",
          align: "center"
        },
        { 
          name: "state", 
          label: "Estado", 
          field: "state", 
          align: "center" 
        }
      ],
      serverData: []
    };
  },
   /* computed:{
    reverseDate(){
      return this.props.row.creator_date.substr(0,10).split('-'.reverse().join('-'))
    }
  } , */
  
  mounted() {
    this.loading = true;
    this.$axios.get("user",{
      headers: {
        Authorization: "Bearer " + localStorage.getItem("user").slice(1, -1),
        "Content-Type": "application/x-www-form-urlencoded"
      }
    })
      .then(response => {
        this.loading = false;
        
        this.serverData = response.data;
        /* console.log(response.data.map(res => res.creator_date)) */
      })
      .catch(err => console.log(err));
    this.loading = false;
  }
};
</script>
<style scoped>
.text-title {
  color: var(--text-title);
}
.tabla-usuarios {
  width:108rem;
  right:3.5rem;
}
</style>
