<template>
    <div>
         <q-card class="body-card-t">
      <div>
        <div class="img-foot">
          <img class="img-header" src="~assets/imagotipo.jpg">
        </div>
      </div>
      <q-card-main class="body-card-t">
        <p class="text-weight-regular">Enlace caducado o inválido</p>
      </q-card-main>
    </q-card>
    </div>
</template>
<script>
export default {
    name:'failed',
}
</script>
<style scoped>

.bg-login-t {
  background-image: url("~assets/bgImage.png");
  height: 100vh;
  background-size: cover;
}
.body-card-t {
  background-color: #ffffff;
}
h4 {
  color: var(--login-title);
  margin: 1rem;
}
.img-foot {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}
.img-header {
    width: 14rem;
    height: 14rem;
}
</style>


