<template>
  <q-layout>
    <q-page-container>
      <!--aqui esta el children, ruta anidada   page/Index.vue-->
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
     name: 'MyExample'
};
</script>
<style>
</style>
