<template>
  <q-layout view="LHh Lpr lFf">
    <q-layout-header></q-layout-header>

    <q-layout-drawer
      
      :mini="miniState"
      @click.capture="drawerClick"
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? '#60605f' : null"
      :content-style="{backgroundColor: '#60605f', display:'flex', flexDirection: 'column'}"
    >
      <div class="conteiner-image-drawer">
        <img
          src="~assets/logo.png"
          class="img-menu img-dest q-mini-drawer-hide"
          @click="miniState=true"
        >
        <img src="~assets/logoMini.png" class="img-menu q-mini-drawer-only">
      </div>

      <q-list v-if="mainMenu" v-model="mainMenu" no-border highlight link class="list-menu">
        <q-item highlight link>
          <q-item-side icon="event_available"/>
          <q-item-main label="Planificación"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Planificación</q-tooltip>
        </q-item>

        <q-item highlight link>
          <q-item-side icon="business_center"/>
          <q-item-main label="Ejecución de ventas"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Ventas</q-tooltip>
        </q-item>

        <q-item highlight link>
          <q-item-side icon="list_alt"/>
          <q-item-main label="Informe"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Informe</q-tooltip>
        </q-item>

        <q-item highlight link tag="a" @click.native="masterMenu">
          <q-item-side icon="account_balance"/>
          <q-item-main label="Maestros"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Maestros</q-tooltip>
        </q-item>
      </q-list>
|
      <q-list v-if="master" v-model="master" no-border highlight link  class="list-menu">
        <q-item highlight link tag="a" @click.native="backMenu">
          <q-item-side icon="reply"/>
          <q-item-main label="MENÚ"/>
        </q-item>
        <q-item highlight link to="/dashboard" replace>
          <q-item-side icon="assignment_ind"/>
          <q-item-main label="Usuarios"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Usuarios</q-tooltip>
        </q-item>
        <q-item highlight link to="clientes" replace>
          <q-item-side icon="people_outline"/>
          <q-item-main label="Clientes"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Clientes</q-tooltip>
        </q-item>
        <q-item highlight link to="sedes" replace>
          <q-item-side icon="place"/>
          <q-item-main label="Sedes"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Sedes</q-tooltip>
        </q-item>
        <q-item highlight link to="rutas">
          <q-item-side icon="map"/>
          <q-item-main label="Rutas"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Rutas</q-tooltip>
        </q-item>
        <q-item highlight link to="carteras">
          <q-item-side icon="filter_list"/>
          <q-item-main label="Carteras"/>
          <q-tooltip v-show="miniState === true" anchor="center right" self="center left" :offset="[10, 20]">Carteras</q-tooltip>
        </q-item>
      </q-list>
      <q-list no-border highlight link class="list-menu">
        <q-item highlight link tag="a" @click.native="logout">
          <q-item-side icon="exit_to_app"/>
          <q-item-main label="Salir"/>
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <!--aqui esta el children, ruta anidada   page/Index.vue-->
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      miniState: true,
      master:false,
      mainMenu: true,
    };
  },
  methods: {
    openURL,
    drawerClick(e) {
      if (this.miniState) {
        this.miniState = false;
        e.stopPropagation();
      }
    },
    logout() {
      localStorage.removeItem("user");
      this.$router.push("/");
    },
    masterMenu (){
      this.master = true
      this.mainMenu = false
    },
    backMenu (){
      this.master = false
      this.mainMenu = true
    }
  }
};
</script>

<style>
:root {
  --bg-menu: #60605f;
  --bg-page: #757575;
  --bg-table: #f5f4f6;
  --text-menu: #eaeaea;
  --text-title: #7c7c7c;
  --login-title: #ffffff;
  --brand: #90ce52;
}

.img-menu {
  padding-top: 1.8rem;
}
.img-dest {
  width: 7.5rem;
}
.conteiner-image-drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.list-menu {
  color: var(--text-menu);
  font-weight: 450;
  padding: 3rem 0rem 0rem;
}
.q-item {
  font-size: 1rem;
  padding: 1.3rem 0rem;
}
.q-item-side {
  color: var(--text-menu);
}
.q-layout-drawer-normal {
  width: 12rem !important;
}
.q-layout-drawer-normal .q-item-side {
  padding-left: 0.8rem;
}
</style>
